body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 12px;
}
p {
  font-size: 14px;
  text-align: justify;
}
.page-header {
  background-color: white;
  width: 300px;
  margin: 0 auto;
}
.page-header__1 {
  position: relative;
  background-image: linear-gradient(to right, #9cbc4b 0%,  #ccff66 31%,  #ccff66 61%, #9cbc4b 100%);
  height: 65px;
  padding: 10px 0 5px 15px;
  width: 290px;
  border-radius: 5px;
}
.page-header__name {
  font-size: 26px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  top:20px;
  left:70px;
  text-transform: uppercase;
  color: #333333;
  }
.main-nav__toggle {
  position: absolute;
  top:0;
  left:400;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-nav__toggle {
  position: absolute;
  top: -85px;
  right: 0;
  z-index: 2;
  display: block;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  background-image: linear-gradient(to right, #9cbc4b 0%,  #ccff66 31%,  #ccff66 61%, #9cbc4b 100%);
  cursor: pointer;
  border: none;
}
  .main-nav__toggle:hover,
  .main-nav__toggle:active {
  background-image: linear-gradient(to right, #ccff66 0%,  #9cbc4b 31%,  #9cbc4b 61%, #ccff66 100%);
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 36px;
  height: 2px;
  background-color: #333333;
  box-shadow: 0 8px 0 0 #333333, 0 16px 0 0 #333333;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 36px;
    height: 2px;
    background-color: #333333;
  }

  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }

.page-header__2, .page-header__3 {
  position: relative;
  background-color: #ffffff;
  height: 80px;
  padding: 5px 0 5px 15px;
  width: 300px;
}
.page-header__slogan {
  line-height: 18px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding-top: 0;
  margin-top: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #9cbc4b;
}
.page-header__slogan--grey {
  color: #333333;
}
.page-header__tel {
  font-size: 18px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-nav {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  }
.site-list__item a {
  display: block;
  padding-top: 5px;
  width: 300px;
  height:25px;
  text-align: center;
  background-color: #333333;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #565656;
  transition: .5s;
}

.site-list__item--active a {
  color: #9cbc4b;
}
.site-list__item a:hover {
  background-image: linear-gradient(to right, #cccc66 0%, #9cbc4b 51%, #cccc66 100%);
  color:#333333;
}
.page-main {
  width:300px;
  margin: 0 auto;
}
.page-main__wrapper {
  display: flex;
  flex-direction: column;
}
.page-main__baner {
  width: 300px;
  border-radius: 5px;
}
.page-main__2 {
  background-color: #333333;
  color: white;
  font-weight: bold;
  line-height: 18px;
  padding: 15px 10px 10px 15px;
  border-radius: 5px;
  }
.page-main__h3 {
  color: #9cbc4b;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.page-main__advantages{
  margin-left: 0px;
  padding-left: 10px;
}
.page-main__adv-item {
  padding-bottom: 15px;
  padding-left: 0px;
  list-style-image: url(../img/arrow1.svg);
}
.page-main__product, .page-main__popular, .page_main__clients, .page-main__low, .page-main__import, .page-main__plus, .page-main__quality {
  width: 280px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}
.page-main__shadow {
  text-align: justify;
}
.page-main__button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #333333;
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(to right, #cccc66 0%, #9cbc4b 51%, #cccc66 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  transition: .5s;
}
.page-main__button:hover {
  background-position: right center;
  color: #ffffff;
}
.page-main__green {
  background-color: #cccc66;
  padding: 10px 0 10px 0;
  border-radius: 5px;

}
.clients__img {
  width: 280px;
  margin: auto 0;
  border-radius: 5px;
}

.clients__item {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
  list-style: none;
}
.low__item {
  padding-bottom: 15px;
  font-size: 14px;
  list-style-image: url(../img/arrow2.svg);
}
.page-main__h3--brown {
  padding: 5px 15px 5px 15px;
  background-color: #333333;
  border-radius: 5px;
}
.plus__item {
  padding-bottom: 15px;
  font-size: 14px;
  list-style-image: url(../img/arrow3.svg);
}
.page_main__brownslider {
  width: 275px;
  background-color: #333333;
  padding: 5px;
  border-radius: 5px;
}
.popular__text {
  display: inline-block;
  position: relative;
  margin:5px;
  overflow: hidden;
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  background-size: contain;
  }
.popular__text--1 {
  background-image: url(../img/1a.jpg);
}
.popular__text--2 {
  background-image: url(../img/2a.jpg);
}
.popular__text--3 {
  background-image: url(../img/3a.jpg);
}
.popular__text--4 {
  background-image: url(../img/4a.jpg);
}

.popular__text2 {
  position: absolute;
  top:0px;
  left: -235px;
  width: 105px;
  height: 105px;
  display: inline-block;
  color: #333333;
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  background-color:  rgba(204,255,102, 0.8);
  transition: 1s;
  z-index: 3;
}
.popular__text:hover .popular__text2 {
  left: 0px;
  background-color:  rgba(204,255,102,0.8);
  z-index: 3;
  }
.popular__text2 a {
  color: #9cbc4b;
  padding: 5px;
  border-radius: 10px;
  background-color: #333333;
}
.popular__text2 a:hover {
  color: #ffffff;
}
.quality__image {
  width: 260px;
  border-radius: 5px;
}
.page-main__bigtext {
  font-size: 18px;
  text-transform: uppercase;
  color: #9cbc4b;
  padding: 10px 0 10px 10px;
  background-color: #333333;
  font-weight: 400;
}
.deco1 {
  display: block;
  width: auto;
  height: 2px;
  background-color: #99cc66;
  border-radius: 5px;
}
.deco2 {
  height: 4px;
  background-color: #cccc66;
  border-radius: 5px;
}
.footer {
  margin: 0 auto;
  padding: 10px;
  width: 280px;
  background-color: #333333;
  color: white;
  font-weight: normal;
  line-height: 18px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.footer__green {
  color:  #9cbc4b;
  font-weight: normal;
  text-transform: uppercase;
}
.footer__tel, .footer__adress, .footer__mail {
  padding: 0 15px 15px 0;
}
@media (min-width: 768px) {
  .main-nav__toggle {
     display: none;
   }
  .page-header {
    width: 750px;
  }
  .footer {
    width: 730px;
    flex-direction: row;
    border-radius: 10px;
  }
  .footer__mail {
    width: 550px;
  }
  .page-header__wrapper {
    width: 750px;
    display: flex;
    align-items: top;
  }
  .page-header__1 {
    width: 290px;
    height: 70px;
  }
  .page-header__2 {
    width: 300px;
    height: 70px;
    flex-grow: 2;
    }
  .page-header__3 {
    width: 160px;
    height: 70px;
  }
  .main-nav {
    width:750px;
  }

  .main-nav__list {
    width: 750px;
    display: flex;
    align-items: flex-start;

  }
  .site-list__item a{
    width: 125px;
  }
  .page-main {
    width: 750px;
    margin-top: 20px;
  }
  .page-main__wrapper {
    width: 750px;
    display: flex;
    flex-direction: row;
  }
  .page-main__baner {
    width: 300px;
  }
  .page-main__product, .page-main__popular, .page_main__clients, .page-main__low, .page-main__import, .page-main__plus, .page-main__quality  {
    width: 730px;
  }
  .page_main__brownslider {
    width: 710px;
    display: flex;
    justify-content: space-around;
  }
  .popular__text {
    width: 150px;
    height: 150px;
  }
  .popular__text2 {
    width: 130px;
    height: 130px;
  }
  .clients__wrapper {
  display: flex;
  }
  .page-main__shadow {
    margin: 0 10px 0 10px;
  }
  .page-main__green {
    width: 250px;
    padding-right: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  .clients__img {
    width: 260px;
    margin: auto 0;
    border-radius: 5px;
  }
  .quality__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
  .quality__image {
    width: 240px;
    border-radius: 5px;
  }
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
      display: none;
    }

    .main-nav--closed .user-list__item {
      display: none;
    }
    .main-nav--nojs .main-nav__toggle {
       display: none;
     }
  }
@media (min-width: 1200px) {
  .main-nav__toggle {
     display: none;
   }
  .page-header {
    width: 1160px;
  }
  .footer {
    width: 1140px;
    border-radius: 10px;
  }
  .page-header__wrapper {
    width: 1160px;
  }
  .page-header__1 {
    width: 320px;
    height: 70px;
  }
  .page-header__2 {
    width: 640px;
    height: 70px;
    flex-grow: 2;
    }
  .page-header__3 {
    width: 200px;
    height: 70px;
  }
  .page-header__slogan {
    font-size: 18px;
    line-height: 22px;
  }
  .page-header__tel {
    font-size: 22px;
    line-height: 24px;
  }
  .main-nav {
    width:1160px;
  }

  .main-nav__list {
    width: 1160px;
  }
  .site-list__item a {
    width: 193px;
    font-size: 14px;
    font-weight: normal;
  }
  .page-main {
    width: 1160px;
    margin-top: 20px;
  }
  .page-main__wrapper {
    width: 1160px;
    display: flex;
    flex-direction: row;
  }
  .page-main__baner {
    width: 300px;
  }
  .page-main__product, .page-main__popular, .page_main__clients, .page-main__low, .page-main__import, .page-main__plus, .page-main__quality  {
    width: 1140px;
  }
  .page_main__brownslider {
    width: 1120px;
    display: flex;
    justify-content: flex-start;
  }
  .clients__wrapper {
  display: flex;
  }
  .page-main__shadow {
    margin: 0 10px 0 10px;
  }
  .page-main__green {
    width: 250px;
    padding-right: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
  }
  .clients__img {
    width: 260px;
    margin: auto 0;
    border-radius: 5px;
  }
  .quality__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
  .quality__image {
    width: 240px;
    border-radius: 5px;
  }
  .page-main__button {
    font-size: 18px;
    padding: 20px;
    font-weight: normal;
  }

}
