body {
  background-color: white;
  font-family: arial;
}
.page-header {
  background-color: white;
  width: 320px;
  margin: 0 auto;
}
.page-header__1 {
  position: relative;
  background-color: #cccc66;
  height: 65px;
  padding: 10px 0 5px 15px;
  width: 320px;
}
.page-header__name {
  font-size: 26px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: absolute;
  top:20px;
  left:70px;
  text-transform: uppercase;
  color: #333333;
  }
.main-nav__toggle {
  position: absolute;
  top:0;
  left:400;
}
.page-header__2, .page-header__3 {
  position: relative;
  background-color: #ffffff;
  height: 65px;
  padding: 5px 0 5px 15px;
  width: 320px;
}
.page-header__slogan {
  line-height: 18px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #99cc66;
}
.page-header__slogan--grey {
  color: #333333;
}
.page-header__tel {
  font-size: 18px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
